.event_listings {
  padding: 30px 0;
}

.eventblock {
  display: flex;
  border-radius: 8px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 3px 4px rgb(0 0 0 / 10%);
}

.eventblock:hover {
  background-color: rgb(243, 243, 243);
}

.eventblock a {
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 100%;
}

.eventblock .eventImg {
  max-width: 30%;
  width: 100%;
  margin-right: 10px;
}

.eventblock .eventInfo {
  max-width: 68%;
  padding: 6px;
}

.eventblock .eventInfo h3 {
  margin: 10px 0 10px;
  color: #f37163;
  font-size: 30px;
}

.eventblock .eventInfo h5 {
  margin: 0 0 20px;
  color: #3e3e3e;
  font-size: 18px;
}

.eventblock .eventInfo p:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
  .eventblock {
    flex-direction: column;
  }
  .eventblock .eventImg {
    margin-bottom: 10px;
  }
  .eventblock .eventImg,
  .eventblock .eventInfo {
    max-width: 100%;
  }
}